#corner {
    position: absolute;
}

.container {
    position: relative;
    z-index: 2; /*set on top of flames*/
}

span {
    pointer-events: none;
}

p, input {
    font-weight: 200;
    font-size: 3vh;
}

p {
    margin: 0;
    display: inline;
    float: right;
    padding-right: 8px; /* mimics space */
}

input {
    border: 0;
    outline: 0;
    margin-left: -4px;
    background-color: transparent;
}

input:focus {
    outline: none !important;
}

#prompt {
    color: gray;
}

#flames {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
    z-index: 1; /* set behind container*/
}